.timer {
    font-family: sans-serif;
    border: 1px solid black;
    border-radius: 14px;
    fill: plum;
}

.timer_progress-bar {
    fill: #793698;
}

.timer_message {
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
    fill: white;
}

.timer_remaining-time {
    fill: white;
    font-size: 1rem;
    font-family: sans-serif;
}

.timer-button_control {
  min-width: 30vw;
  line-height: 2rem;
}
