.timer-header {
  font-family: sans-serif;
}

.timer-bar {
    font-family: sans-serif;
    border: 1px solid black;
    border-radius: 14px;
    fill: plum;
}

.timer-bar__progress {
    fill: #793698;
}

.timer__message {
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
    fill: white;
}

.timer-bar__remaining-time {
    fill: white;
    font-size: 1rem;
    font-family: sans-serif;
}

.timer-button {
  width: 90vw;
  text-align: center;
}

.timer-button__control {
  width: 30vw;
  min-width: 44px;
  min-height: 44px;
  line-height: 2rem;
}
